.blur-it {
  filter:blur(20px);
}

.add-mode {
  position:fixed;
  width:100%;
  min-height:100vh;
  background-color:rgba(0,0,0,0.7);
  z-index:999;
  color:$white;
  .add-chooser {
    text-align:center;
    margin:auto;
    margin-left:-55px;
    button {
      display:inline-block;
      margin:30px 5px;
    }
  }
  h2 {
    border-bottom:2px solid #ccc;
  }
  input, textarea {
    width:100%;
    text-align:left;
    text-transform:none;
    margin:10px auto;
    color:#222;
    &:hover {
      cursor:text;
    }
  }
}
