$primary: #f7de7b;
$primary1: #fffa96;
$primary2: #f7d036;
$primary3: #ba9700;

$secondary: #b70101;
$green: #57e657;
$white: #fff;
$paper: url('../images/handmade-paper.png');

body {
  background-color:$primary1;
  background-image:$paper;
}
.row, .col-sm-10, .col-sm-2 {
  margin:0px;
  padding:0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:200;
  margin:0;
  padding:0;
}
input, textarea {
  border:none;
  font-size:1.2em;
}
input:focus, textarea:focus {
  outline:none;
}

ul {
  list-style-type:none;
}
h3 {
  color:#333;
}
.search {
  background-color:#fff;
  z-index:50;
  position:fixed;
  top:0px;
}
.top-search {
  padding-top:0px;
  font-size:4em;
  text-align:center;
  font-weight:500;
  letter-spacing: -3px;
  border:none;
  border-bottom:8px solid $secondary;
  width:100%;
  font-family:'Helvetica Neue';
  padding:0px;
  color:$secondary;
  position:fixed;
  background-color:$primary1;
  background-image: $paper;
}
.top-search::-webkit-input-placeholder {
   color: #999;
   font-weight:200;
   font-size:.7em;
   position:relative;
   top:10px;
}
:-moz-placeholder { /* Firefox 18- */
   color: #ddd;
   font-weight:200;
   font-size:.7em;
   position:relative;
   top:10px;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #ddd;
   font-weight:200;
   font-size:.7em;
   position:relative;
   top:10px;
}
:-ms-input-placeholder {
   color: #ddd;
   font-weight:200;
   font-size:.7em;
   position:relative;
   top:10px;
}
.top-search:focus {
  outline:none;
}
.page {
  position:relative;
  top:76px;
  z-index:10;
}
.message {
  padding-top: 50px;
  text-align: center;
  font-size: 3em;
  color: #777;
  letter-spacing: -1px;
  font-weight: bold;
}
nav {
  position:fixed;
  top:75px;
  background-color:$primary;
  background-image:$paper;
  height:100%;
  width:16.6666667%;
}
.sidebar {
  background-color:#eee;
  border-radius:0px;
  border-right:0px solid #ccc;
  height:100%;
  padding:0px;
  margin:0px;
  ul {
    margin:10px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    li {
      display:block;
      padding:10px 0px 10px 15px;
      margin:0px;
      font-size:1.1em;
      p {
        margin:0;
      }
    }
  }

}
.sidebar ul li:hover {
  cursor:pointer;
  border-left:4px solid #900;
  padding-left:11px;
}
.selected {
  background-color:#b70101;
  color:#b70101;
}
.sidebar
.sidebar-link {
  text-decoration: none;
  color:#b70101;
}
.sidebar-link:hover {
  text-decoration:none;
}

.page-header-container {
  border-bottom:1px solid $secondary;
  display:block;
  height:85px;
  margin:0px 20px;
}
.dictionary-header-div {
  width:60%;
  display:block;
  float:left;
}
.dictionary-header {
  font-size:3em;
  padding:10px;
  margin:0px;
  margin-top:15px;
}
.dictionary-container {
  padding:0px;
  z-index:15;
}
.add-word {
  width:28%;
  display:block;
  float:right;
  button {
    padding:12px 35px;
    border:none;
    font-size:1.1em;
    margin:20px 10px 0px 0px;
    display:inline-block;
    float:right;
    position:fixed;
    top:74px;
    right:10px;
  }
  button:focus {
    outline:none;
  }
}
.input-word-form {
  height:320px;
  background-color:$green;
  background-image:$paper;
  z-index:20;
  h2 {
    padding:15px 0px 0px 15px;
  }
}
.add-word .float-down {
  position:absolute;
  top:320px;
}
.input-word-form input, .input-word-form textarea {
  background-color:#fff;
  padding:5px;
  margin:15px 0px 0px 15px;
  font-size:1.7em;
  width:50%;
}
.definition-input {
  height:120px;
}
.submit-word {
  padding:12px 20px;
  margin:15px 0px 0px 15px;
  font-size:1.2em;
}
.dictionary-content {
  padding:20px 15px 20px;
}
.definition {
  margin:3px 0px;
}
.definition h3 {
  font-size:2.3em;
}
.definition p {
  font-size:1.3em;
}
.word-selector {
  width:50%;
  margin:0px 0px 0px 15px;
  background-color:#fff;
  position:absolute;
  background-color:#eee;
  div {
    // border-top:1px solid #ccc;
    padding:3px 5px;
  }
}
.word-selector div:hover {
  cursor:pointer;
  background-color:blue;
}
.highlighted {
  background-color:blue;
}
.new-word-div {
  margin:20px;
  height:100px;
  background-color:$primary;
  background-image:$paper;
  padding:10px;
}
.new-word {
  width:50%;
  min-width:200px;
  margin:0 auto;
  font-size:2em;
  padding:5px;
  text-align:center;
}
.card {
  background-color:$primary;
  background-image:$paper;
  border-radius:5px;
  padding:15px;
  margin-bottom:10px;
}
