.search {
  background:transparent;
  z-index:50;
  position:fixed;
  top:0px;
}
.top-search {
  font-size:3em;
  text-align:center;
  font-weight:500;
  letter-spacing: -1px;
  border:none;
  border-bottom:4px solid $white;
  width:100%;
  font-family:'Helvetica Neue';
  padding:5px 0px;
  color:$text;
  position:fixed;
  background:$white;
  opacity:0.8;
}
// .top-search::-webkit-input-placeholder {
//    color: $text;
//    font-weight:200;
//    font-size:1.6rem;
//    position:relative;
// }
// :-moz-placeholder { /* Firefox 18- */
//    color:$text;
//    font-weight:200;
//    font-size:1.6rem;
//    position:relative;
// }
// ::-moz-placeholder {  /* Firefox 19+ */
//    color: $text;
//    font-weight:200;
//    font-size:1.6rem;
//    position:relative;
//    top:10px;
// }
// :-ms-input-placeholder {
//    color: $text;
//    font-weight:200;
//    font-size:1.6rem;
//    position:relative;
//    top:10px;
// }
// .top-search:focus {
//   outline:none;
// }
input[type="search"].side-search {
  height:45px;
  font-size:3rem;
  text-align:center;
  font-weight:500;
  letter-spacing: -1px;
  border:none;
  font-family:'Helvetica Neue';
  padding:5px 0px;
  color:$darkgray;
  position:fixed;
  background:$menu0;
}
.side-search::-webkit-input-placeholder {
   color: $grayscale8;
   font-size:2.5rem;
   position:relative;
}
.side-search:-moz-placeholder { /* Firefox 18- */
   color:$grayscale8;
   font-size:2.5rem;
   position:relative;
}
.side-search::-moz-placeholder {  /* Firefox 19+ */
   color: $grayscale8;
   font-size:2.5rem;
   position:relative;
}
.side-search:-ms-input-placeholder {
   color: $grayscale8;
   font-size:2.5rem;
   position:relative;
}
