nav {
  position:fixed;
  height:100%;
  z-index:1000;
  .fa {
    font-size:2.5em;
  }
}
.dock {
  width:70px;
  height:100%;
  position:fixed;
  background-color:rgba(0,0,0,0.7);
  border-top-right-radius:4px;
}
.sidebar {
  height:100%;
  padding:0px;
  margin:0px;
  ul {
    margin:10px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    li {
      display:table;
      position:relative;
      height:50px;
      min-width:50px;
      font-size:0.7em;
      border:3px solid #555;
      border-radius:0px;
      background-color:transparent;
      margin:10px;
      span {
        display:table-cell;
        vertical-align:middle;
        text-align:center;
      }
      i {
        display:inline-block;
        padding-left:11px;
        padding-top:10px;
        float:left;
      }
      p {
        display:inline-block;
        float:left;
        font-size:1.8em;
        position:relative;
        top:10px;
        padding:0px 20px;
        font-weight:100;
        letter-spacing:0.06em;
      }
    }
  }

}
.sidebar ul li:hover {
  cursor:pointer;
  color:$white;
  opacity:1;
}
#search-item {
  border-color:$menu0;
  color:$menu0;
}
#search-item:hover {
  background-color:$menu0;
  color:$white;
}
#home-item {
  border-color:$menu1;
  color:$menu1;
}
#home-item:hover {
  background-color:$menu1;
  color:$white;
}
#mydictionary-item {
  border-color:$menu2;
/*   background-color:rgba(0,0,0,0.3);
background-image:\$feather;
background-size:500%; */
  color:$menu2;
}
#mydictionary-item:hover {
  color:$white;
  background-color:$menu2
/*   background-size:100%;
 */}
#global-item {
  border-color:$menu3;
  color:$menu3;
}
#global-item:hover {
  background-color:$menu3;
  color:$white;
}
#profile-item {
  border-color:$menu4;
  color:$menu4;
}
#profile-item:hover {
  background-color:$menu4;
  color:$white;
}
#words-item {
  border-color:$menu5;
  color:$menu5;
}
#words-item:hover {
  background-color:$menu5;
  color:$white;
}
#login-item {
  border-color:$menu6;
  color:$menu6;
}
#login-item:hover {
  background-color:$menu6;
  color:$white;
}
#register-item {
  border-color:$menu7;
  color:$menu7;
}
#register-item:hover {
  background-color:$menu7;
  color:$white;
}
#logout-item {
  border-color:$menu8;
  color:$menu8;
}
#logout-item:hover {
  background-color:$menu8;
  color:$white;
}
#add-item {
  border-color:$menu9;
  color:$menu9;
}
#add-item:hover {
  background-color:$menu9;
  color:$darkgray;
}
.selected {
  background-color:$secondary;
  color:$secondary;
}
.sidebar .sidebar-link {
  text-decoration: none;
  color:$secondary;
}
.sidebar-link:hover {
  text-decoration:none;
}
