/******* TWITTER BOOTSTRAP *******/
@import '../../bower_components/sass-bootstrap/lib/bootstrap';

$primary: #ffca00;
$primary1: #ffd534;
$primary2: #f0be00;
$primary3: #ba9700;

$secondary: #ff9500;

@import 'home';
@import 'normalize';
@import 'animations';
