$primary: #eee;
$primary1: #fdfdfd;
$primary2: #ccc;

$text: #333;

$secondary: #b70101;
$green: #999;
$white: #fff;

/* IMAGES */
$paper: url('../images/handmade-paper.png');
$feather: url('../images/feather.jpg');
$camera: url('../images/camera.jpg');
$building: url('../images/building.jpg');
$castle: url('../images/castle.jpg');
$dunes: url('../images/dunes.jpg');
$earth-space: url('../images/earth-space.jpg');
$foggy-bridge: url('../images/foggy-bridge.jpg');
$girl-field: url('../images/girl-field.jpg');
$sunset-mountains: url('../images/sunset-mountains.jpg');
$waterfall: url('../images/waterfall.jpg');
$dictionaries: url('../images/dictionaries.jpg');

$menu1: #fc9700;
$menu2: #b70101;
$menu3: #23719f;
$menu4: #3eba00;
$menu5: #6f0094;
$menu6: #8a003e;
$menu7: #333;
$menu8: #001a30;
