$primary: #eee;
$primary1: #fdfdfd;
$primary2: #ccc;

$text: #333;

$secondary: #b70101;
$green: #999;
$white: #fff;
$darkgray: #333;

$fb-blue: #3b5998;

/* IMAGES */
$paper: url('../images/handmade-paper.png');
$feather: url('../images/feather.jpg');
$camera: url('../images/camera.jpg');
$building: url('../images/building.jpg');
$castle: url('../images/castle.jpg');
$dunes: url('../images/dunes.jpg');
$earth-space: url('../images/earth-space.jpg');
$foggy-bridge: url('../images/foggy-bridge.jpg');
$girl-field: url('../images/girl-field.jpg');
$sunset-mountains: url('../images/sunset-mountains.jpg');
$waterfall: url('../images/waterfall.jpg');
$dictionaries: url('../images/dictionaries.jpg');
$dictionaries2: url('../images/dictionaries2.jpg');
$city-highway: url('../images/city-highway.jpg');
$colors: url('../images/colors.png');
$dirt-road: url('../images/dirt-road.jpg');
$everest: url('../images/everest.jpg');
$house: url('../images/house.jpg');
$night-sky-tree: url('../images/night-sky-tree.jpg');
$road: url('../images/road.jpg');
$snowy-peaks: url('../images/snowy-peaks.jpg');
$snowy-sunset: url('../images/snowy-sunset.jpg');
$snowy-valley: url('../images/snowy-valley.jpg');
$sun-rays-forest: url('../images/sun-rays-forest.jpg');
$waves: url('../images/waves.jpg');

$grayscale1: #F5F5F5;
$grayscale2: #E5E5E5;
$grayscale3: #D8D8D8;
$grayscale4: #CCCCCC;
$grayscale5: #ADADAD;
$grayscale6: #999999;
$grayscale7: #8C8C8C;
$grayscale8: #696969;
$grayscale9: #404040;
$grayscale10: #333333;


$menu0: #ffff00;
$menu1: #fc9700;
$menu2: #b70101;
$menu3: #23719f;
$menu4: #3eba00;
$menu5: #6f0094;
$menu6: #8a003e;
$menu7: #333;
$menu8: #aaa;
$menu9: $white;
