<div ng-if="addMode" class="add-mode">
  <div class="row add-chooser">
    <button class="button button-blue">Add Definition</button>
    <button class="button button-green">Add Dictionary</button>
    <button class="button">Add Word</button>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h2>Add a Definition</h2>
    <form>
      <div class="form-group">
        <label>Choose a word to define:</label>
        <input ng-model="$parent.definition.word" type="text" placeholder="word" ng-keydown="tabNext(\$event)" ng-click="wordSearch = !wordSearch" id="word-search">
        <textarea ng-model="$parent.definition.content" type="textarea" placeholder="definition"></textarea>
        <p>Do you want to add your definition to the global dictionary?</p>
        <input type="radio" ng-model="$parent.definition.isGlobal" name="isGlobal" value="true" class="radio-buttons">
        <label>Yes</label>
        <input type="radio" ng-model="$parent.definition.isGlobal" name="isGlobal" value="false" class="radio-buttons">
        <label>No</label>
        <button class="btn btn-primary btn-success submit-word" ng-click="submitDefinition()">Save Definition</button>
      </div>
    <!-- <form>
        <input ng-model="definition.word" type="text"  placeholder="word" ng-keydown="tabNext($event)" ng-click="wordSearch = !wordSearch" id="word-search"></input><br>
        <div ng-show="wordSearch || definition.word.length == 1" class="word-selector">
          <div ng-repeat="word in words | filter:{ content:definition.word } | orderBy:'content' | limitTo: 8" ng-class="{true: 'highlighted'}[$index == selectedIndex]">

            <div ng-click="selectWord(word)" >
              <h3>{{ word.content }}</h3>
              <p>{{ word.partOfSpeech }}</p>
            </div>
          </div>
          <div ng-show="$index == null">
            <h3>Create new word</h3>
          </div>
        </div>
        <textarea ng-model="definition.content" type="textarea" class="definition-input" placeholder="definition"></textarea><br>
        <p>Do you want to add your definition to the global dictionary?</p>
        <input type="radio" ng-model="definition.isGlobal" name="isGlobal" value="true" class="radio-buttons">
        <label>Yes</label>
        <input type="radio" ng-model="definition.isGlobal" name="isGlobal" value="false" class="radio-buttons">
        <label>No</label>
        <button class="btn btn-primary btn-success submit-word" ng-click="submitDefinition()">Save Definition</button>
    </form> -->
  </div>
</div>
