<nav ng-controller="AuthCtrl as authCtrl">
  <!-- <div class="title-box">
    <h3 class="crowdefine-title">crowdefine</h3>
  </div> -->
  <div class="dock"></div>
  <ul>
    <li class="sidebar-list-item" id="home-item" ng-mouseover="showListItem1 = true" ng-mouseleave="showListItem1 = false" ng-click="goTo('/')">
      <div>
        <span><i class="fa fa-home"></i><p ng-show="showListItem1">Home</p></span>
      </div>
    </li>

    <li class="sidebar-list-item" id="mydictionary-item" ng-mouseover="showListItem2 = true" ng-mouseleave="showListItem2 = false" ng-click="goTo('/')">
      <div>
        <span><i class="fa fa-book"></i><p ng-show="showListItem2">My Dictionary</p></span>
      </div>
    </li>

    <li class="sidebar-list-item" id="global-item" ng-mouseover="showListItem3 = true" ng-mouseleave="showListItem3 = false" ng-click="goTo('/global')">
      <div>
        <span><i class="fa fa-globe"></i><p ng-show="showListItem3">Global Dictionary</p></span>
      </div>
    </li>

    <li class="sidebar-list-item" id="profile-item" ng-mouseover="showListItem4 = true" ng-mouseleave="showListItem4 = false" ng-click="goTo('/profile')">
      <div>
        <span><i class="fa fa-smile-o"></i><p ng-show="showListItem4">My Profile</p></span>
      </div>
    </li>

    <li class="sidebar-list-item" id="words-item" ng-mouseover="showListItem5 = true" ng-mouseleave="showListItem5 = false" ng-click="goTo('/words')">
      <div>
        <span><i class="fa fa-bars"></i><p ng-show="showListItem5">Word Center</p></span>
      </div>
    </li>

    <li class="sidebar-list-item" id="login-item" ng-show="!signedIn()" ng-mouseover="showListItem6 = true" ng-mouseleave="showListItem6 = false" ng-click="goTo('/login')">
      <div>
        <span><i class="fa fa-sign-in"></i><p ng-show="showListItem6">Log In</p></span>
      </div>
    </li>

    <li class="sidebar-list-item" id="register-item" ng-show="!signedIn()" ng-mouseover="showListItem7 = true" ng-mouseleave="showListItem7 = false"  ng-click="goTo('/register')">
      <div>
        <span><i class="fa fa-globe"></i><p ng-show="showListItem7">Register</p></span>
      </div>
    </li>

    <li class="sidebar-list-item" id="logout-item" ng-show="signedIn()" ng-mouseover="showListItem8 = true" ng-mouseleave="showListItem8 = false" ng-click="logout()">
      <div>
        <span><i class="fa fa-sign-out"></i><p ng-show="showListItem8">Log Out</p></span>
      </div>
    </li>

  </ul>
</nav>
