<div class="page" ng-controller="MyDictionaryCtrl as myCtrl">
    <add-mode></add-mode>
    <div class="row" ng-class="{true: 'blur-it'}[addMode === true]">
      <!-- <div ng-show="inputMode" ng-class="" class="input-word-form">
        <h2>Add a Definition</h2>
        <form>
            <input ng-model="definition.word" type="text"  placeholder="word" ng-keydown="tabNext(\$event)" ng-click="wordSearch = !wordSearch" id="word-search"></input><br>
            <div ng-show="wordSearch || definition.word.length == 1" class="word-selector">
              <div ng-repeat="word in words | filter:{ content:definition.word } | orderBy:'content' | limitTo: 8" ng-class="{true: 'highlighted'}[\$index == selectedIndex]">

                <div ng-click="selectWord(word)" >
                  <h3>{{ word.content }}</h3>
                  <p>{{ word.partOfSpeech }}</p>
                </div>
              </div>
              <div ng-show="\$index == null">
                <h3>Create new word</h3>
              </div>
            </div>
        </form>
      </div> -->
      <div class="dictionary-container">
        <div class="page-header-container">
          <i class="fa fa-home"></i>
          <h1>My Dictionary</h1>
        </div>
        <div class="dictionary-content">
          <div ng-repeat="def in $storage.currentUser.definitions" class="definition card-box col-xs-12 col-sm-6 col-lg-4">
            <div class="card">
              <h3>{{def.word}}</h3>
              <p>{{def.content}}</p>
              <!-- <button class="btn btn-danger" ng-click="deleteDefinition(def)">delete</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
