<div ng-controller="MyDictionaryCtrl as myCtrl">
  <header><div></div></header>
  <div class="row page">
    <sidebar class="sidebar col-sm-1 hidden-xs"></sidebar>
    <div class="inner-page col-sm-8 col-sm-offset-1 col-xs-12">
      <!-- <div ng-show="inputMode" ng-class="" class="input-word-form">
        <h2>Add a Definition</h2>
        <form>
            <input ng-model="definition.word" type="text"  placeholder="word" ng-keydown="tabNext(\$event)" ng-click="wordSearch = !wordSearch" id="word-search"></input><br>
            <div ng-show="wordSearch || definition.word.length == 1" class="word-selector">
              <div ng-repeat="word in words | filter:{ content:definition.word } | orderBy:'content' | limitTo: 8" ng-class="{true: 'highlighted'}[\$index == selectedIndex]">

                <div ng-click="selectWord(word)" >
                  <h3>{{ word.content }}</h3>
                  <p>{{ word.partOfSpeech }}</p>
                </div>
              </div>
              <div ng-show="\$index == null">
                <h3>Create new word</h3>
              </div>
            </div>
            <textarea ng-model="definition.content" type="textarea" class="definition-input" placeholder="definition"></textarea><br>
            <p>Do you want to add your definition to the global dictionary?</p>
            <input type="radio" ng-model="definition.isGlobal" name="isGlobal" value="true" class="radio-buttons">
            <label>Yes</label>
            <input type="radio" ng-model="definition.isGlobal" name="isGlobal" value="false" class="radio-buttons">
            <label>No</label>
            <button class="btn btn-primary btn-success submit-word" ng-click="submitDefinition()">Save Definition</button>
        </form>
      </div> -->
      <div class="dictionary-container">
        <div class="page-header-container">
          <h1>My Dictionary</h1>
          <!-- <div class="add-word">
            <button class="btn btn-primary" ng-click="inputMode = !inputMode" ng-class="{true: 'float-down'}[inputMode == true]">+ Add Definitions</button>
          </div> -->
        </div>
        <div class="dictionary-content">
          <!-- <form>
              <input ng-model="word.content" type="text" placeholder="word"><br>
              <button class="btn btn-primary btn-success submit-word" ng-click="submitWord()">Save Word</button>
          </form>
        </div> -->
          <div ng-repeat="def in definitions | orderBy:'word' | filter:{word:searchTerm}" ng class="card">
            <h3>{{def.word}}</h3>
            <p>{{def.content}}</p>
            <button class="btn btn-danger" ng-click="deleteDefinition(def)">delete</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
