<div class="page" ng-controller="GlobalDictionaryCtrl as globalCtrl">
  <!-- <add-mode></add-mode>
  <div class="inner-page col-sm-8 col-xs-12" ng-class="{true: 'blur-it'}[addMode === true]">
    <div class="dictionary-container">
      <div class="page-header-container">
        <h1>Profile</h1>
      </div> -->
  <add-mode></add-mode>
  <div ng-class="{true: 'blur-it'}[addMode === true]">
    <div class="dictionary-container">
      <div class="page-header-container">
        <h1>{{ $storage.currentUser.displayName }}</h1>
      </div>
      <div class="dictionary-content">
        <div ng-repeat="definition in entries | orderBy:'word' | filter:{word:searchTerm}" class="definition">
          <h3>{{definition.word}}</h3>
          <p>{{definition.definition}} | <a ng-click="deleteDefinition(definition)">delete</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
