<div ng-controller="AuthCtrl as authCtrl" class="auth-controller">
  <div class="inner-page col-sm-8 col-xs-12">
    <div class="promo-page">
      <img class="center" src="images/lingo-logo.png">
      <h2>Redefine the dictionary</h2>

      <h3>Lingo is the dictionary reimagined. Sign up for a free account to add and save words and definitions, create dictionaries, and much, much more.</h3>


      <div class="form-container">

        <!-- REGISTER -->
        <div class="sign-up">
          <h3>Sign up</h3>
          <form ng-submit="register()">
            <p ng-show="error" class="text-danger">{{error}}</p>
            <input type="text" ng-model="user.username" placeholder="Username" class="form-control"><br>
            <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
            <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
            <input type="submit" value="Register" class="btn btn-primary" />
          </form>
          <form ng-submit="signInWithFacebook()">
            <input type="submit" value="Sign up with Facebook" class="btn btn-primary" />
          </form>
          <p> Name: {{ signedIn }} </p>
          <p>Display name: {{ authData.facebook.displayName }} </p>
          <p>Current user: {{ currentUser }}</p>
        </div>



        <!-- SIGN IN -->
        <div class="sign-in">
          <h3>Sign in</h3>
          <form ng-submit="signIn()">
            <p ng-show="error" class="text-danger">{{error}}</p>
            <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
            <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
            <input type="submit" value="Log in" class="btn btn-primary btn-facebook" />
          </form>
        </div>


      </div>
    </div>
  </div>
</div>
