<div class="page" ng-controller="WordCtrl as wordCtrl">
  <add-mode></add-mode>
    <div ng-class="{true: 'blur-it'}[addMode === true]">
      <div class="dictionary-container">
        <div class="page-header-container">
          <h1>Word Center</h1>
        </div>
        <div class="new-word-div card">
          <h3>Word:</h3>
          <input ng-model="word.content" class="new-word">
          <h3>Part of speech:</h3>
          <div class="radio-buttons">
            <input ng-model="word.partOfSpeech" type="radio" name="pos" value="noun">
            <label>Noun</label>
            <input ng-model="word.partOfSpeech" type="radio" name="pos" value="verb">
            <label>Verb</label>
            <input ng-model="word.partOfSpeech" type="radio" name="pos" value="adjective">
            <label>Adjective</label>
            <input ng-model="word.partOfSpeech" type="radio" name="pos" value="adverb">
            <label>Adverb</label>
            <input ng-model="word.partOfSpeech" type="radio" name="pos" value="pronoun">
            <label>Pronoun</label>
            <input ng-model="word.partOfSpeech" type="radio" name="pos" value="preposition">
            <label>Preposition</label>
            <input ng-model="word.partOfSpeech" type="radio" name="pos" value="conjunction">
            <label>Conjunction</label>
            <input ng-model="word.partOfSpeech" type="radio" name="pos" value="interjection">
            <label>Interjection</label>
          </div>
          <br>
          <button class="btn btn-success" ng-click="submitWord()">Submit Word</button>

        </div>
        <div class="wordlist card">
        <p ng-repeat="word in words"><a href="">{{ word.content }}</a> | <a href="" ng-click="deleteWord(word)">delete</a></p>
        </div>
      </div>
    </div>
</div>
