<div ng-controller="WordCtrl as wordCtrl">
  <div class="row page">
    <sidebar class="sidebar col-sm-2 hidden-xs"></sidebar>
    <div class="inner-page col-sm-10 col-xs-12">
      <div class="dictionary-container">
        <div class="page-header-container">
          <div class="dictionary-header-div">
            <h1 class="dictionary-header">Word Center</h1>
          </div>
        </div>
        <div class="new-word-div card">
          <input ng-model="word.content" placeholder="New word" class="new-word">
        </div>
      </div>
    </div>

  </div>
</div>
